body {
  background-color: #FFD1DC;
}

#mainHeader {
  background-color: #FFD1DC;
  font-family: cursive;
  color: #FF1493;
  text-align: center;
  padding: 1rem;
}

ul {
  list-style-type: circle;
  color: #FF1493;
  text-align: center;
}

li {
  display: inline-block;
}

h2, h3 {
  color: #FF1493;
  text-align: center;
}

p {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

#mainFooter {
  background-color: #FFD1DC;
  font-family: cursive;
  color: #FF1493;
  text-align: center;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(239px, 1fr));
  gap: 10px;
  padding: 5px;
  max-width: 1000px;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Breakpoints for responsive design */

/* Small screens (mobile phones) */
@media (max-width: 600px) {
  #mainHeader, #mainFooter, h2, h3, p {
      font-size: 1rem;
  }

  .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Smaller columns for smaller screens */
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  #mainHeader, #mainFooter, h2, h3, p {
      font-size: 1.2rem;
  }

  .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjusted column size */
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  #mainHeader, #mainFooter, h2, h3, p {
      font-size: 1.5rem;
  }

  .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Larger columns for large screens */
  }
}
